.font-sans {
  font-family: Lato, arial, sans-serif;
}
.color-blue {
  color: cyan;
}
.color-blueSecond {
  color: #51a6dd;
}
.color-white {
  color: #ffffff;
}

.bg-blue {
  background-color: lightgray;
}
