.submit-container {
  margin-top: 40vh;
}

.bigHeader {
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 10px 5px 5px grey;
  color: black;
}

.loginIntro {
  text-align: center;
  justify-content: center;
}

.submit-container > .logoutBtn {
  background-color: red;
}
.submit-container > .logoutBtn:hover {
  background-color: white;
  color: black;
}

/* CSS */
.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans',
    sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

.btn {
  padding: 10px;
  border: 1px solid black;
  text-shadow: 1px 0 10px bisque;
}
.loginBtn {
  background-color: antiquewhite;
}

.submit-container {
  justify-content: center;
  font-size: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: var(--secondary-color);
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: var(--secondary-color);
  border-radius: 9px;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.imgLogin {
  margin: 0px 30px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary-color);
  font-size: 19px;
}

.forget-password {
  padding-left: 62px;
  margin-top: 27px;
  color: var(--primary-color);
  font-size: 18px;
}

.forget-password span {
  color: var(--secondary-color);
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: var(--secondary-color);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: var(--background-color);
  color: var(--primary-color);
}
