.event-cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.event-card {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
  justify-content: space-between;
  position: relative;
}

.event-card-content {
  flex: 2;
  padding: 20px;
  color: #333;
}

.event-title {
  font-size: 1.8em;
  margin: 0 0 10px 0;
}

.event-category {
  font-size: 1.2em;
  margin: 5px 0;
  font-weight: bold;
}

.event-place,
.event-hour {
  font-size: 1em;
  margin: 5px 0;
}

.event-description {
  list-style-type: none;
  padding: 0;
}

.event-description li {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.event-image-container {
  flex: 1;
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
