/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10rem;
  background-color: #333;
  color: #fff;
  height: 6rem;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 7rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar-links a:hover {
  color: #ddd;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
}
