.navbar {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 10px 10px;
  background-color: rgba(
    199,
    199,
    199,
    0.5
  ); /* Updated to use rgba for transparency */
  color: #fff;
  text-shadow: 3px 5px 12px rgba(1, 5, 1, 0.68); /* Adjusted text-shadow for better visibility */
  height: 6rem;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.logo-image {
  width: 7vw;
  height: 9vh;
  left: 5rem;
  margin-top: -5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  display: inline-block;
  transition: transform 0.3s ease;
}

.logo-image:hover {
  transform: scale(1.2);
}

.navbar-links {
  list-style: none;
  display: flex;
  padding: 0;
  width: 50vw;
  margin-left: 20%;
  margin-bottom: 1.5rem;
}

.navbar-links li {
  margin-left: 10rem;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  display: inline-block;
  transition: transform 0.3s ease;
}

.navbar-links a:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
}
